-
    var header = '#about me'
    var imagePath = "asset/image/cv-image-template.jpg"
    var myFullName = "Istvan Acs"
    var myTitle = "Junior Web Developer"
    var slogan = "I make the front-end world a better place every day"
    var achievement = {
        title: 'achievement',
        content:`I've built a quick-blog which have 100/100 page insight speed without any additional effort and minimum or no training.`
    }

    var coolStuff = {
        title: 'grab cool stuff',
        buttonList: [
            {
                url: 'https://github.com/St3ve89/my-resume',
                icon: 'github',
                label: 'Click to visit the GitHub project source'
            },
            {
                url: 'asset/CV/free-cv-killer-template.docx',
                icon: 'file-word',
                label: 'Click to download My-CV Microsoft Word version'
            }
         ]
    }

#about-me
.about-me
    .about-me__header=header
    .about-me__avatar-wrapper
        img.about-me__avatar(src=imagePath)
    .about-me__full-name=myFullName
    .about-me__full-title=myTitle
    .about-me__slogan=slogan

    .about-me__title=achievement.title
    .about-me__content=achievement.content

    .about-me__title=coolStuff.title
    .about-me__link-list
        each button in coolStuff.buttonList
            a(href=button.url, target="_blank")
                span=button.label
                span(class=`my-resume__icon--${button.icon}`)